@charset "UTF-8";
/* CSS Document */

body{
	background-image: url("https://i.pinimg.com/736x/a9/af/94/a9af94d198c590e9c489dc49a1962efd.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	align-content: middle;
}

h1{
	color:#E5E8DC;
	font-size: 50px;
	font-family: "Gill Sans";
	text-align: center;
	vertical-align: center;
}

p{
	color:#D7DCC9;
	font-size: 35px;
	font-family: "Gill Sans";
	text-align: center;
	vertical-align: center;
}

div {
	font-size: 35px;
	height: 300px;
	line-height: 50px;
	text-align: center;
	border: 2px;
}

a{
	color:#D7DCC9;
}
a:hover {
	color:#FAFAF9; 
}